<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="fragments/imports :: imports"></div>
    <div th:replace="fragments/imports :: style-custom"></div>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${recipe.name}"></title>
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/nav :: navbar"></div>

    <div class="row">

        <div class="col-sm-1"></div>

        <div class="col-sm-10">

            <div class="text-center">

                <div class="well well-sm">
                    <h2 th:text="${recipe.name}"></h2>
                    <p th:text="${recipe.description}"></p>
                </div>

                <div class="row">
                    <div class="col-md-4 col-md-push-8">
                        <div class="well">
                            <table class="table table-condensed">
                                <tr>
                                    <th>Prep Time</th>
                                    <td th:text="${recipe.prepTime} + ' min'"></td>
                                </tr>
                                <tr>
                                    <th>Cook Time</th>
                                    <td th:text="${recipe.cookTime} + ' min'"></td>
                                </tr>
                                <tr>
                                    <th>Yield</th>
                                    <td th:text="${recipe.yield} + ' servings'"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-pull-4">
                        <div class="well">
                            <h4>Ingredients</h4>
                            <table class="table table-condensed">
                                <tbody>
                                    <tr th:each="ingredient,stat : ${recipe.ingredients}">
                                        <td>
                                            <span class="label label-primary" th:text="${recipe.ingredients[__${stat.index}__].amount
                                            + ' '
                                            + recipe.ingredients[__${stat.index}__].measure}"></span>
                                        </td>
                                        <th>
                                            <p th:text="${recipe.ingredients[__${stat.index}__].name}"></p>
                                        </th>
                                        <td>
                                            <p th:text="${recipe.ingredients[__${stat.index}__].notes}"></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="well well-sm directions-view">
                            <h4>Directions:</h4>
                            <hr/>
                            <p th:utext="${recipe.directions}"></p>
                        </div>
                    </div>
                </div>

                <form id="recipeActionsForm" role="form" method="get" th:object="${recipe}">

                    <button id="findRecipeButton" type="submit" class="btn btn-danger" formaction="#" th:formaction="@{${T(com.tfr.rms.config.Routes).UPDATE_RECIPE}} + '/' + *{id}">Edit</button>

                </form>


            </div>

        </div>

        <div class="col-sm-1"></div>

    </div>
</div>
</body>
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</html>